# Core functionality - changes here should be rare!
/src/app.py                   @Github-SG03
/src/backend/database.py      @Github-SG03
/src/backend/routers/auth.py  @Github-SG03

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Github-SG03
